In [ ]:
import pandas as pd
final_data=pd.read_csv(r'final_data1',nrows=25000)

In [27]:
final_data.head()

,actor_1_name,actor_2_name,actor_3_name,director_name,genres,movie_title
0,Tom Hanks,Tim Allen,Don Rickles,John Lasseter,Animation Comedy Family,Toy Story
1,Robin Williams,Jonathan Hyde,Kirsten Dunst,,Adventure Fantasy Family,Jumanji
2,Walter Matthau,Jack Lemmon,Ann-Margret,Howard Deutch,Romance Comedy,Grumpier Old Men
3,Whitney Houston,Angela Bassett,Loretta Devine,Forest Whitaker,Comedy Drama Romance,Waiting to Exhale
4,Steve Martin,Diane Keaton,Martin Short,,Comedy,Father of the Bride Part II

In [28]:
final_data.shape

(25000, 6)

In [29]:
final_data.isnull().sum()

actor_1_name     0
actor_2_name     0
actor_3_name     0
director_name    0
genres           0
movie_title      0
dtype: int64

In [30]:
import nltk 
import re 
from nltk.corpus import stopwords
import string
from nltk import WordNetLemmatizer

In [31]:
lm=WordNetLemmatizer()

In [32]:
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [33]:
for i in final_data.columns:
    final_data[i]=final_data[i].apply(lambda x:x.replace(' ',''))

In [34]:
def combine(x):
    return " "+x['actor_1_name']+" "+x['actor_2_name']+" "+x['actor_3_name']+" "+x['director_name']+" "+x['genres']

In [35]:
final_data['comb']=final_data.apply(combine,axis=1)

In [36]:
final_data['comb']

0         TomHanks TimAllen DonRickles JohnLasseter Ani...
1         RobinWilliams JonathanHyde KirstenDunst  Adve...
2         WalterMatthau JackLemmon Ann-Margret HowardDe...
3         WhitneyHouston AngelaBassett LorettaDevine Fo...
4              SteveMartin DianeKeaton MartinShort  Comedy
5         AlPacino RobertDeNiro ValKilmer MichaelMann A...
6         HarrisonFord JuliaOrmond GregKinnear SydneyPo...
7         JonathanTaylorThomas BradRenfro RachaelLeighC...
8         Jean-ClaudeVanDamme PowersBoothe DorianHarewo...
9         PierceBrosnan SeanBean IzabellaScorupco Marti...
10        MichaelDouglas AnnetteBening MichaelJ.Fox  Co...
11        LeslieNielsen MelBrooks AmyYasbeck  ComedyHorror
12        KevinBacon BobHoskins BridgetFonda  FamilyAni...
13        AnthonyHopkins JoanAllen PowersBoothe OliverS...
14        GeenaDavis MatthewModine FrankLangella  Actio...
15        RobertDeNiro SharonStone JoePesci MartinScors...
16        KateWinslet EmmaThompson HughGrant AngLee Dra...
17        TimRoth AntonioBanderas JenniferBeals  CrimeC...
18        JimCarrey IanMcNeice SimonCallow SteveOedeker...
19        WesleySnipes WoodyHarrelson JenniferLopez Jos...
20        JohnTravolta GeneHackman ReneRusso BarrySonne...
21        SigourneyWeaver HollyHunter WillPatton  Drama...
22        SylvesterStallone AntonioBanderas JulianneMoo...
23        MarySteenburgen SeanPatrickFlanery LanceHenri...
24        NicolasCage ElisabethShue JulianSands  DramaR...
25        LaurenceFishburne IrÃ¨neJacob KennethBranagh ...
26        ChristinaRicci RosieO'Donnell ThoraBirch Lesl...
27        AmandaRoot CiarÃ¡nHinds SusanFleetwood RogerM...
28        RonPerlman DominiquePinon JudithVittet Jean-P...
29        GongLi LiBao-Tian WangXiaoxiao ZhangYimou Dra...
                               ...
24970     TimHaars HuubSmit WesleyvanGaalen SteffenHaar...
24971               AlanFord TomasArana RalphBrown  Comedy
24972     EmilJannings FriedrichKayssler MaxGÃ¼lstorff ...
24973     FreddieHighmore VingRhames PatrickMofokeng Lo...
24974       ScottBrady RitaGam NevilleBrand  ActionWestern
24975        WilliamHaines AnitaPage KarlDane  ComedyDrama
24976     DirkBogarde MargaretBrooks PamelaFranklin  Drama
24977     ElliottGould MargauxHemingway SidCaesar Menah...
24978     LyubovOrlova VladimirVolodin SergeiStolyarov ...
24979     ThomasKretschmann YaninaStudilina PhilippeRei...
24980     LaceyChabert RobinDunne BrittneyWilson Sheldo...
24981     ChristopherMeloni DevonBostick DeanNorris  Dr...
24982     CharlotteGreenwood ClaudeGillingwater GrantWi...
24983     BrandonLee DebiA.Monahan ErnestBorgnine BJDav...
24984     ClarkGable SusanHayward MichaelRennie EdwardD...
24985     BudSpencer EnzoCannavale FrancoAgostini  Acti...
24986     WilliamHolden NinaFoch LeeJ.Cobb RudolphMatÃ©...
24987           PaulBurke AllisonHayes JohnWengraf  Horror
24988     JackieCoogan MaxDavidson LydiaYeamansTitus Ed...
24989     StewartGranger RafVallone MickeyRooney RogerC...
24990     MichaelSarrazin JacquelineBisset AnthonyFranc...
24991     RichardDix GloriaStuart J.CarrolNaish William...
24992        MickeyRooney GeorgeBancroft FayBainter  Drama
24993     VirginiaWeidler EdwardArnold JohnCarroll  Com...
24994     JoanCrawford LesterVail ClarkGable HarryBeaum...
24995     EstherWilliams FernandoLamas JackCarson  Come...
24996     SalvatorePapa ArturoPirovano GiuseppedeLiguor...
24997     TonyAbatemarco ScottAdsit MattBesser  Animati...
24998     SidneyToler MantanMoreland BenCarter PhilKarl...
24999                   DavidSpade   KeithTruesdell Comedy
Name: comb, Length: 25000, dtype: object

In [37]:
final_data.head()

,actor_1_name,actor_2_name,actor_3_name,director_name,genres,movie_title,comb
0,TomHanks,TimAllen,DonRickles,JohnLasseter,AnimationComedyFamily,ToyStory,TomHanks TimAllen DonRickles JohnLasseter Ani...
1,RobinWilliams,JonathanHyde,KirstenDunst,,AdventureFantasyFamily,Jumanji,RobinWilliams JonathanHyde KirstenDunst Adve...
2,WalterMatthau,JackLemmon,Ann-Margret,HowardDeutch,RomanceComedy,GrumpierOldMen,WalterMatthau JackLemmon Ann-Margret HowardDe...
3,WhitneyHouston,AngelaBassett,LorettaDevine,ForestWhitaker,ComedyDramaRomance,WaitingtoExhale,WhitneyHouston AngelaBassett LorettaDevine Fo...
4,SteveMartin,DianeKeaton,MartinShort,,Comedy,FatheroftheBridePartII,SteveMartin DianeKeaton MartinShort Comedy

In [38]:
final_data=final_data[['movie_title','comb']]

In [39]:
final_data.head()

              movie_title                                               comb
0                ToyStory   TomHanks TimAllen DonRickles JohnLasseter Ani...
1                 Jumanji   RobinWilliams JonathanHyde KirstenDunst  Adve...
2          GrumpierOldMen   WalterMatthau JackLemmon Ann-Margret HowardDe...
3         WaitingtoExhale   WhitneyHouston AngelaBassett LorettaDevine Fo...
4  FatheroftheBridePartII        SteveMartin DianeKeaton MartinShort  Comedy

In [40]:
def clean(x):
    x=re.sub("\W"," ",x)
    x=re.sub("[0-9]"," ",x)
    x= [lm.lemmatize(item) for item in nltk.word_tokenize(x) if item not in stopwords.words('english') and  item not in string.punctuation]
    x=" ".join(x)
    x=x.lower()
    x=re.sub("\s+"," ",x)
    return x

In [41]:
final_data['comb']=final_data['comb'].apply(clean)

In [184]:
def clean_movie(x):
    x=re.sub("\W"," ",x)
    x=x.upper()
    return x

In [176]:
final_data['movie_title']=final_data['movie_title'].apply(clean_movie)

In [177]:
final_data.head()

              movie_title                                               comb
0                toystory  tomhanks timallen donrickles johnlasseter anim...
1                 jumanji  robinwilliams jonathanhyde kirstendunst advent...
2          grumpieroldmen  waltermatthau jacklemmon ann margret howarddeu...
3         waitingtoexhale  whitneyhouston angelabassett lorettadevine for...
4  fatherofthebridepartii         stevemartin dianekeaton martinshort comedy

In [43]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [44]:
tf=TfidfVectorizer(ngram_range=(1,3),min_df=3)

In [45]:
matrix=tf.fit_transform(final_data['comb']).toarray()

In [46]:
matrix

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [75]:
from sklearn.metrics.pairwise import sigmoid_kernel
sig=sigmoid_kernel(matrix,matrix)

In [178]:
movie_series=pd.Series(index=final_data['movie_title'],data=final_data['movie_title'].index)

In [179]:
movie_series.head()

movie_title
toystory                  0
jumanji                   1
grumpieroldmen            2
waitingtoexhale           3
fatherofthebridepartii    4
dtype: int64

In [180]:
movie_series['jumanji']
sig[1]

array([0.76159416, 0.76163892, 0.76159416, ..., 0.76159416, 0.76159416,
       0.76159416])

In [181]:
def recommend(x,sig=sig):
    lis=[]
    lis2=[]
    index=movie_series[x]
    values=sig[index]
    for i,j in enumerate(values):
        lis.append((i,j))
    lis=sorted(lis,key=lambda x : x[1],reverse=True)
    lis=lis[:5]
    for item in lis:
        lis2.append(item[0])
    return final_data.iloc[lis2,0:1]

In [185]:
print(recommend('avatar'))

            movie_title
14723            avatar
17686      almightythor
5016         crossroads
6393     halfmoonstreet
3899   dungeons dragons